$darkBeige: #DDCDB6;
$beigeBackground: #EFEDE2;
$green: #053B1F;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Britanny';
    src: url('../fonts/BrittanySignature.ttf');
}


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $beigeBackground;
}

hr{
    color: $green;
    margin: 0 20px;
}

h1, h2, h3, h4, h5 h6{
    color: #053B1F;
    font-family: Montserrat;
}

p{
    font-family: Montserrat;
    font-size: 16px;
}

//Header 
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        width: 90px;
        height: auto;
    }

    .left-break, .right-break{
        content: '';
        width: 40%;
        height: 1.5px;
        background-color: $green;
        display: block;
    }
    
}

//Video Container
section.video-container{
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.video-container img{
    width: 100%;
}

@media only screen and (min-width: 1025px) {
    section.video-container{
        width: 100%;
        max-width: 1200px;
        margin: 25px auto;
    }
}

//Just one thing mobile
section.j-o-t{
    margin: 25px 0;
    h2{
        text-align: center;
    }

    p{
        text-align: center;
        margin: 10px 20px;
    }

    button{
        text-align: center;
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        border: none;
        padding: 10px;
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 2px 2px 2px $green;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        color: inherit;

        &:hover{
            background-color: #053B1F;
            color: white;
            border: 1px solid white;
            box-shadow: none;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.j-o-t{
    h2{
        font-size: 50px;

        br{
            display: none;
        }
    }

    p{
        width: 800px;
        margin: 25px auto;
    }

    button{
        font-size: 24px;
    }

    hr{
        display: none;
    }
 }
}

//How it works mobile
section.how-it-works{ 
    section.aside-image{
        display: none;
   }
    margin: 50px 0 25px 0;
    position: relative;
    h2{
        font-family: 'Britanny', 'Times New Roman', Times, serif;
        text-align: center;
        color: $green;
        font-weight: 600;
        font-size: 30px;
    }

    .desktop-layout{
        display: none;
    }

    .mobile-slider{
        height: 220px;
        margin-bottom: 80px;
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            margin-top: 25px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            flex-direction: column;

            & svg{
                display: block;
                width: 80px;
                height: 80px;
                background-color: white;
                border-radius: 15px;
                margin-bottom: 15px;
            }

            & .first-svg-icon-mobile{
                width: 90px;
                height: 90px;
            }

            h5{
                font-family: Montserrat;
            }

            P{
                margin: 0 30px;
            }

          }

          .swiper-pagination-bullet{
            background-color: transparent;
            border: 2px solid $green;
            height: 8px;
            width: 8px;

            &.swiper-pagination-bullet-active{
                background-color: $green;
            }
          }

    }
}

@media only screen and (min-width: 1025px) {
    section.how-it-works{ 
        section.aside-image{
            display: block;
            width: 50%;
            max-width: 650px;
            height: 900px;
            background-image: url('../images/Shoes\ JOT.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            border-radius: 15px;
        }
        .mobile-slider{
            display: none;
        }
        .desktop-layout{
            width: 100%;
            max-width: 1200px;
            display: flex;
            margin: auto;
            padding-left: 15px;
            .left-side{
                width: 50%;
                h2{
                    text-align: left;
                    font-size: 50px;
                    margin-bottom: 25px;
                    margin-left: 50px;
                }
                .step-container{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    
                }
    
                .icon-container{
                    margin-right: 20px;
                    svg{
                        display: block;
                        width: 80px;
                        height: 80px;
                        background-color: white;
                        border-radius: 15px;
                        margin-bottom: 15px;
                        
                    }
                }

                .text-container{
                    float: right;
                }
            }
        }
    }
}


//Find Contact Section 
section.find-contact{
    background-color: $green;
    padding: 70px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .find-container, .contact-container{
        position: relative;
        width: 70%;
        margin: 25px auto 50px auto;
    }

    .contact-container{
        margin-bottom: 0;
    }

    h3{
        font-family: 'Britanny', 'Times New Roman', Times, serif;
        color: $darkBeige;
        position: absolute;
        top: -60px;
        left: -30px;
        font-size: 30px;
        transform: rotate(-20deg);
    }

    h4{
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    a{
        color: white;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1025px) {
    section.find-contact{
        width: 100vw;
        padding: 90px 20px;

        .wrapper{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding-left: 15px;

            .find-container, .contact-container{
                position: relative;
                width: 100%;
                margin: 50px auto 50px 30px;
            }

            
            h3{
                font-size: 40px;
                position: absolute;
                top: -80px;
                left: -35px;
            }
        }
    }
}


//Social Good Section mobile
section.social-good{
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;

    div.text-container{
        width: 100%;
        position: relative;

        h2{
            font-family: 'Britanny', 'Times New Roman', Times, serif;
            margin-top: 15px;
            transform: rotate(-5deg);
            font-size: 30px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.social-good{
    padding: 150px;
    div.text-container{
        h3{
            font-size: 40px;
        }
    }
}
}


//About Section mobile 
section.about{
    padding: 50px 0;
    margin: 0 20px;
    text-align: center;
    .left-side{
        display: none;
    }
    .right-side{
        width: 100%;
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 20px;
        }
    
        h4{
            color: black;
            font-family: 'Britanny', 'Times New Roman', Times, serif;
    
            & span{
                font-size: 24px;
                margin-left: 15px;
            }
        }
    
        .sponsers{
            display: flex;
            margin: 0 20px;
            align-items: center;
            justify-content: space-around;
    
    
            & .sponser-container{
                width: 33%;
                
                & img{
                    width: 60px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.about{
        padding: 0;
        width: 100%;
        max-width: 1200px;
        display: flex;
        height: 750px;
        align-items: center;
        margin: auto;
        position: relative;

        .left-side{
            display: block;
            width: 50%;
            max-width: 650px;
            height: 800px;
            background-image: url('../images/Priyanka\ JOT.jpeg');
            background-size: cover;
            position: absolute;
            border-radius: 15px;
        }

        .right-side{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            position: absolute;
            left: 55%;
            padding-right: 15px;

            .sponser-container{
                margin: 0 15px;
            }
        }
 }      
}


section.make-a-difference{
    height: 250px;
    background-color: $green;
    position: relative;

    div.container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        h2{
            font-family: 'Britanny', 'Times New Roman', Times, serif;
            color: $darkBeige;
            text-align: center;
            transform: rotate(-5deg);
            font-size: 30px;
            margin-bottom: 10px;
        }
    
        h3{
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-bottom: 20px;
        }
    
        button{
            text-align: center;
            display: flex;
            margin: auto;
            border: none;
            padding: 10px;
            background-color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 2px 2px 2px $green;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            cursor: pointer;
            color: inherit;
    
            &:hover{
                background-color: #053B1F;
                color: white;
                border: 1px solid white;
                box-shadow: none;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.make-a-difference{
        height: 350px;
        padding-bottom: 20px;
        div.container{
            width: 700px;
            margin: auto;
            left:50%;
            transform: translate(-50%);

            h2{
                position: static;
                text-align: center;
                font-size: 50px;
                margin-bottom: 10px;
                margin-left: -20px;
            }
        
            h3{
                position: static;
                text-align: center;
                font-size: 35px;
                margin-bottom: 20px;
            }

            button{
                position: static;
                text-align: center;
                font-size: 24px;
            }
        }
    }
}


footer{
    background-color: white;
    padding: 10px 20px;

    div.footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .logo-container{
            width: 150px;
    
            & img{
                width: 100%;
            }
        }
    
        .contact-info{
           ul{
            list-style-type: none;
           }
    
           li{
            margin: 5px 0;
           }
    
           a{
            text-decoration: none;
            color: black
           }
    
           a h4{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: black;
           }
        }
    
        .social-media{
            margin-top: 20px;
        
            border-top: 1px solid black;
            .icon-container{
                display: flex;
                justify-content: space-around;
                align-items: center;
    
                .social-icon{
                    width: 60px;
                    transition: all 500ms ease-in-out;
    
                    &:hover{
                        opacity: .5;
                    }
                }
    
                
                .social-icon img{
                    width: 100%
                }
            }
        }
    }
}


@media only screen and (min-width: 1025px) {

    footer{        
        div.footer-container{
            flex-direction: row;
            justify-content: space-between;
            width: 900px;
            margin: auto;


            div.logo-container{
                order: 2;
            }

            div.contact-info{
                order: 1;

                ul li:nth-child(2), ul li:nth-child(3){
                    line-height: 30px;
                }
            }

            div.social-media{
                order: 3;
                border-top: none;
            }
        }
    }

}

