$darkBeige: #DDCDB6;
$beigeBackground: #EFEDE2;
$green: #053B1F;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Britanny';
    src: url('../fonts/BrittanySignature.ttf');
}
@font-face {
    font-family: 'Shelby';
    src: url('../fonts/Shelby.otf');
    font-weight: normal;
    font-style: normal;
}


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: $beigeBackground;
    @media only screen and (min-width: 1025px) {
        background-color: white;
    }
}

hr{
    color: $green;
    margin: 0 20px;
}

h1, h2, h3, h4, h5 h6{
    color: #053B1F;
    font-family: Montserrat;
}

p{
    font-family: Montserrat;
    font-size: 16px;
}

section{
    padding: 0 50px;
}

img.filter-white{
    @media only screen and (min-width: 1025px) {
        filter: brightness(0) invert(1);
    }
}

//Header 
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        width: 150px; //was 90px
        height: auto;
    }

    .left-break, .right-break{
        content: '';
        width: 40%;
        height: 1.5px;
        background-color: $green;
        display: block;
    }
    
}

//Video Container
section.video-container{
    margin: 0; //0 20px
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

.video-container img{
    width: 100%;
}

@media only screen and (min-width: 1025px) {
    section.video-container{
        width: 100%;
        max-width: 1200px;
        margin: 25px auto 50px auto;
    }
}

//Just one thing mobile
section.j-o-t{
    margin: 25px 0;
    padding: 0 20px;
    h2{
        text-align: center;
    }

    p{
        text-align: center;
        margin: 10px 20px;
    }

    button{
        text-align: center;
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        border: none;
        padding: 10px;
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 2px 2px 2px $green;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        color: inherit;
        a {
        color: inherit;
        text-decoration: none;
        }
        &:hover{
            background-color: #053B1F;
            color: white;
            border: 1px solid white;
            box-shadow: none;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.j-o-t{
    h2{
        font-size: 50px;

        br{
            display: none;
        }
    }

    p{
        width: 800px;
        margin: 25px auto;
    }

    button{
        font-size: 24px;
        border: 1px solid $green;
    }

    hr{
        display: none;
    }
 }
}

//How it works mobile
section.how-it-works{ 
    section.aside-image{
        display: none;
   }
    margin: 50px 0 25px 0;
    position: relative;
    h2{
        font-family: Shelby; //'Britanny', 'Times New Roman', Times, serif
        text-align: center;
        color: $green;
        font-weight: 400; //600
        font-size: 55px; //30px
        transform: rotate(-5deg);
    }

    .desktop-layout{
        display: none;
    }

    .mobile-slider{
        height: 220px;
        margin-bottom: 80px;
        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 20px;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            margin-top: 0; //25px
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            flex-direction: column;

            & svg{
                display: block;
                width: 80px;
                height: 80px;
                background-color: white;
                border-radius: 15px;
                margin-bottom: 15px;
            }

            & .first-svg-icon-mobile{
                width: 90px;
                height: 90px;
            }

            h5{
                font-family: Montserrat;
            }

            P{
                margin: 0 30px;
            }

            br{
                display: none;
                @media only screen and (min-width: 600px) {
                    display: block;
                }
            }

          }

          .swiper-pagination-bullet{
            background-color: transparent;
            border: 2px solid $green;
            height: 8px;
            width: 8px;

            &.swiper-pagination-bullet-active{
                background-color: $green;
            }
          }

    }
}
//Fix for the three dot button
@media only screen and (max-width: 324px) {
    section.how-it-works{
       .mobile-slider{
        height: 268px;
        margin-bottom: 90px;
       }
    }
}
//Fix for the three dot button
@media only screen and (max-width: 280px) {
    section.how-it-works{
       .mobile-slider{
        height: 298px;
        margin-bottom: 151px;
       }
    }
}
@media only screen and (min-width: 1025px) {
    .font-weight-bold{
        font-weight: 700;
    }
    section.how-it-works{ 
        margin: 100px 0 25px 0;
        section.aside-image{
            display: block;
            width: 45%;
            max-width: 650px;
            height: 650px;
            background-image: url("../images/Fashion.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            left: 50%;
            border-radius: 0;
            z-index: -1;
        }
        .mobile-slider{
            display: none;
        }
        .desktop-layout{
            width: 100%;
            max-width: 1200px;
            display: flex;
            margin: auto;
            padding-left: 0; //15px
            .left-side{
                width: 45%;
                margin: 0 0 50px 0;
                h2{
                    text-align: center;
                    font-size: 40px; //50px
                    font-weight: 600;
                    margin-bottom: 15px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    transform: rotate(0deg);
                }
                .step-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    margin-bottom: 10px;
                    
                }

                .icon-container{
                    margin-right: 20px;
                    svg{
                        display: block;
                        width: 80px;
                        height: 80px;
                        background-color: white;
                        border-radius: 15px;
                        margin-bottom: 15px;
                        
                    }
                }

                .text-container{
                    float: right;
                }
            }

            //Used to fixed alignment issue
            .left-side .step-container:nth-child(2) .text-container p{
                margin-top: -7px;
            }
            .left-side .step-container:nth-child(3) .text-container p{
                margin-top: -12px;
            }
            .left-side .step-container:nth-child(4) .text-container p{
                margin-top: -13px;
            }
        }
    }
}


//Find Contact Section 
section.find-contact{
    background-color: $green;
    padding: 70px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desktop-wrapper{
        display: none;
    }
    
    .mobile-wrapper{
        .find-container, .contact-container{
            position: relative;
            width: 70%;
            margin: 25px 34px 50px auto; //25px auto 50px auto
        }
    
        .contact-container{
            margin-bottom: 0;
        }
    
        h3{
            font-family: Shelby; //'Britanny', 'Times New Roman', Times, serif
            color: $darkBeige;
            position: absolute;
            top: -60px;
            left: -30px;
            font-size: 55px; //30px
            font-weight: 400;
            transform: rotate(-7deg); //rotate(-20deg)
        }
    
        h4{
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
        a{
            color: white;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.find-contact{
        width: 100vw;
        padding: 50px 0;
        color: white;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .desktop-wrapper{
            width: 100%;
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            h3{
                color: white;
                font-size: 35px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin-bottom: 10px;
            }

            a{
                color: white;
                text-decoration: none;
                font-weight: 600;
            }

            .find-drop-off, .contact-shop-repurpose{
                text-align: center;
            }
        }

        .mobile-wrapper{
            display: none;
        }


    }
}




//Social Good Section mobile
section.social-good{
    background-color: white;
    height: 200px;
    display: flex; //flex
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

    div.text-container{
        width: 100%;
        position: relative;
        h2{
            font-family: Shelby;
            font-size: 40px;
            font-weight: 400;
        }
        h3{
            font-size: 16px;
        }
    }
}


@media only screen and (min-width: 1025px) {
    section.social-good{
        display: none;
    }
}

//About Section mobile 
section.about{
    padding: 50px 0;
    margin: 0 20px;
    text-align: center;
    .left-side{
        display: none;
    }
    .right-side{
        width: 100%;
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 20px;
        }
    
        h4{
            color: black;
            font-family: Shelby; //'Britanny', 'Times New Roman', Times, serif
            font-weight: 400;
            font-size: 30px; //40px
            margin-top: 5px;
    
            & span{
                font-size: 24px;
                margin-left: 15px;
            }
        }
    
        .sponsers{
            display: flex;
            margin: 0; //20px
            align-items: baseline;//center
            justify-content: space-around;
            margin-top: -17px; //-10px
    
    
            & .sponser-container{
                width: 33%;
                
                & img{
                    width: 60px;
                }
            }
        }

        button{
            display: none;
        }
    }
}

@media only screen and (min-width: 661px) {
    section.about{
        .right-side{
            .sponsers{
                margin: -17px auto;
                width: 60%;
            }
        }
 }      
}
@media only screen and (min-width: 1025px) {
    section.about{
        padding: 0;
        width: 100%;
        max-width: 1200px;
        display: flex;
        height: 454px; //604px
        align-items: center;
        margin: 90px auto;
        position: relative;

        .left-side{
            display: block;
            width: 50%;
            max-width: 650px;
            height: 641px;
            background-image: url('../images/Priyanka\ JOT.jpeg');
            background-size: cover;
            position: absolute;
            border-radius: 0;//15px
            z-index: -1;
        }

        .right-side{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            position: absolute;
            left: 53%; //55%
            padding-right: 15px;

            h2{
                font-size: 40px;
            }

            h4{
                display: none;
            }
            .sponsers{
                display: none;
            }

            button{
                text-align: center;
                display: flex;
                margin: auto;
                margin-bottom: 50px;
                border: none;
                padding: 10px;
                background-color: white;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 2px 2px 2px $green;
                border-radius: 5px;
                transition: all 500ms ease-in-out;
                cursor: pointer;
                color: inherit;
                a {
                color: inherit;
                text-decoration: none;
                }
                &:hover{
                    background-color: #053B1F;
                    color: white;
                    border: 1px solid white;
                    box-shadow: none;
                }
            }
        }
 }      
}

section.make-a-difference{
    height: 250px;
    background-color: $green;
    position: relative;

    div.container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        right: 0;
        .are-you-ready-text-2{
            display: none;
            transform: rotate(0deg);
        }
        .are-you-ready-text-2-mobile{
            transform: rotate(0deg);
            display: block;
            width: 100%;
            margin: 0 auto;
            font-size: 45px;
            margin-bottom: 20px;
        }
        h2{
            font-family:Shelby; //'Britanny', 'Times New Roman', Times, serif
            color: $darkBeige;
            text-align: center;
            transform: rotate(-5deg);
            font-size: 55px; //30px
            margin-bottom: 10px;
            font-weight: 400;
            display: none;
        }
    
        h3{
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-bottom: 20px;
            display: none;
        }
    
        button{
            text-align: center;
            display: flex;
            margin: auto;
            border: none;
            padding: 10px;
            background-color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 16px;
            font-weight: bold;
            box-shadow: 2px 2px 2px #ddcdb6;
            border-radius: 5px;
            transition: all 500ms ease-in-out;
            cursor: pointer;
            color: inherit;
            a{
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                background-color: #053B1F;
                color: white;
                border: 1px solid white;
                box-shadow: none;
            }
        }
    }
}



@media only screen and (min-width: 900px) {
    section.make-a-difference{
        height: 350px;
        padding-bottom: 20px;
        margin-top: 32px;
        div.container{
            width: 100%; //700px
            margin: auto;
            left:50%;
            transform: translate(-50%);
            
            .are-you-ready-text-2{
                display: block;
                font-size: 67px;
                width: unset;
                margin: auto;
                margin-top: 44px;
                margin-bottom: 20px;
            }
            .are-you-ready-text-2-mobile{
                display: none;
            }
            h2{
                position: static;
                text-align: center;
                font-size: 90px; //50px
                margin-bottom: -14px; //10px
                margin-left: -384px; //-392px
                display: none;
            }
        
            h3{
                position: static;
                text-align: center;
                font-size: 35px;
                margin-bottom: 20px;
                margin-left: 67px; //52px
                display: none;
            }

            button{
                position: static;
                text-align: center;
                font-size: 24px;
                box-shadow: 2px 2px 2px #ddcdb6;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    section.make-a-difference{
        display: none;
    }
}


footer{
    background-color: white;
    padding: 10px 20px;

    div.footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .logo-container{
            width: 150px;
    
            & img{
                width: 100%;
            }
        }
    
        .contact-info{
           ul{
            list-style-type: none;
           }
    
           li{
            margin: 5px 0;
           }
    
           a{
            text-decoration: none;
            color: black
           }
    
           a h4{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: black;
           }
        }
    
        hr{
            border-top: 1px solid black;
            width: 84%;
            margin-top: 20px;
        }
        .social-media{
            h4{
                display: none;
            }
            
            .icon-container{
                display: flex;
                justify-content: space-around;
                align-items: center;
    
                .social-icon{
                    width: 60px;
                    transition: all 500ms ease-in-out;
    
                    &:hover{
                        opacity: .5;
                    }
                }
    
                
                .social-icon img{
                    width: 100%
                }
            }
            //Fixes pinterest size issue
            .icon-container .social-icon:nth-child(4) a img{
                height: 27px;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    footer{        
        background-color: $green;
        div.footer-container{
            flex-direction: row;
            justify-content: space-between;
            width: 900px;
            margin: auto;


            div.logo-container{
                order: 2;
                width: 190px;
            }

            div.contact-info{
                order: 1;
                ul{
                    li{
                        transition: all 250ms ease-in-out;
                        &:hover{
                            opacity: .5;
                        }
                        a{
                            color: white;
                            h4{
                                color: white;
                            }
                        }
                    }
                }
                ul li:nth-child(2), ul li:nth-child(3){
                    line-height: 30px;
                }
            }
            hr{
                display: none;
            }
            div.social-media{
                h4{
                    display: block;
                    color: white;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
                order: 3;
                border-top: none;
            }
        }
    }

}