@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Britanny';
  src: url("../fonts/BrittanySignature.ttf");
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEDE2;
}

hr {
  color: #053B1F;
  margin: 0 20px;
}

h1, h2, h3, h4, h5 h6 {
  color: #053B1F;
  font-family: Montserrat;
}

p {
  font-family: Montserrat;
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 90px;
  height: auto;
}

header .left-break, header .right-break {
  content: '';
  width: 30%;
  height: 1.5px;
  background-color: #053B1F;
  display: block;
}

section.video-container {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-container img {
  width: 100%;
}

section.j-o-t {
  margin: 25px 0;
}

section.j-o-t h2 {
  text-align: center;
}

section.j-o-t p {
  text-align: center;
  margin: 10px 20px;
}

section.j-o-t button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: none;
  padding: 10px;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px #053B1F;
          box-shadow: 2px 2px 2px #053B1F;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

section.j-o-t button:hover {
  background-color: #053B1F;
  color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.how-it-works {
  margin: 50px 0 25px 0;
  position: relative;
}

section.how-it-works h2 {
  font-family: 'Britanny', 'Times New Roman', Times, serif;
  text-align: center;
  color: #053B1F;
  font-weight: 600;
}

section.how-it-works .mobile-slider {
  height: 210px;
}

section.how-it-works .mobile-slider .swiper {
  width: 100%;
  height: 100%;
}

section.how-it-works .mobile-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.how-it-works .mobile-slider .swiper-slide img {
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}

section.how-it-works .mobile-slider .swiper-slide h5 {
  font-family: Montserrat;
}

section.how-it-works .mobile-slider .swiper-slide P {
  margin: 0 30px;
}

section.how-it-works .mobile-slider .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #053B1F;
  height: 8px;
  width: 8px;
}

section.how-it-works .mobile-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #053B1F;
}

section.find-contact {
  background-color: #053B1F;
  padding: 30px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.find-contact .find-container, section.find-contact .contact-container {
  position: relative;
  width: 70%;
  margin: 25px auto 50px auto;
}

section.find-contact .contact-container {
  margin-bottom: 0;
}

section.find-contact h3 {
  font-family: 'Britanny', 'Times New Roman', Times, serif;
  color: #DDCDB6;
  position: absolute;
  top: -40px;
  left: -30px;
  font-size: 24px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

section.find-contact h4 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section.find-contact a {
  color: white;
  font-weight: bold;
}

section.social-good {
  background-color: white;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  position: relative;
}

section.social-good h2 {
  font-family: 'Britanny', 'Times New Roman', Times, serif;
  position: absolute;
  top: 55%;
  left: 40%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

section.about {
  padding: 50px 0;
  margin: 0 20px;
  text-align: center;
}

section.about h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

section.about h4 {
  color: black;
  font-family: 'Britanny', 'Times New Roman', Times, serif;
}

section.about h4 span {
  font-size: 24px;
  margin-left: 15px;
}

section.about .sponsers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.about .sponsers .sponser-container {
  width: 33%;
}

section.about .sponsers .sponser-container img {
  width: 60px;
}

section.make-a-difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  background-color: #053B1F;
  position: relative;
}

section.make-a-difference h2 {
  font-family: 'Britanny', 'Times New Roman', Times, serif;
  color: #DDCDB6;
  position: absolute;
  top: 15%;
  left: 20%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  font-size: 30px;
}

section.make-a-difference h3 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  position: absolute;
  top: 42%;
  left: 35%;
}

section.make-a-difference button {
  position: absolute;
  top: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: none;
  padding: 10px;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px #053B1F;
          box-shadow: 2px 2px 2px #053B1F;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

section.make-a-difference button:hover {
  background-color: #053B1F;
  color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  background-color: white;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .logo-container {
  width: 150px;
}

footer .logo-container img {
  width: 100%;
}

footer .contact-info ul {
  list-style-type: none;
}

footer .contact-info li {
  margin: 5px 0;
}

footer .contact-info a {
  text-decoration: none;
  color: black;
}

footer .contact-info a h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

footer .social-media {
  margin-top: 20px;
  border-top: 1px solid black;
}

footer .social-media .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-media .icon-container .social-icon {
  width: 60px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

footer .social-media .icon-container .social-icon:hover {
  opacity: .5;
}

footer .social-media .icon-container div:nth-child(4) {
  width: 30px;
}

footer .social-media .icon-container .social-icon img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */