@font-face {
  font-family: 'Britanny';
  src: url("../fonts/BrittanySignature.ttf");
}

@font-face {
  font-family: 'Shelby';
  src: url("../fonts/Shelby.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monteserrat';
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'Monteserrat';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Monteserrat';
  src: url("../fonts/Montserrat-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: 'Monteserrat';
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: 'Monteserrat';
  src: url("../fonts/Montserrat-ExtraBold.otf");
  font-weight: 700;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
}

hr {
  color: #053B1F;
  margin: 0 20px;
}

h1, h2, h3, h4, h5 h6 {
  color: #053B1F;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

section {
  padding: 0 50px;
}

img.filter-white {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

b {
  font-weight: 600;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 150px;
  height: auto;
}

header .left-break, header .right-break {
  content: '';
  width: 40%;
  height: 1.5px;
  background-color: #053B1F;
  display: block;
}

section.video-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
}

.video-container video {
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  section.video-container {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto 50px auto;
    height: 550px;
  }
}

section.j-o-t {
  margin: 25px 0;
  padding: 0 20px;
}

section.j-o-t h2 {
  text-align: center;
}

section.j-o-t p {
  text-align: center;
  margin: 10px 20px;
}

section.j-o-t button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  border: none;
  padding: 14px;
  background-color: white;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px #053B1F;
          box-shadow: 2px 2px 2px #053B1F;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  color: inherit;
  border: 1px solid #053B1F;
}

section.j-o-t button a {
  color: inherit;
  text-decoration: none;
}

section.j-o-t button:hover {
  background-color: #053B1F;
  color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (min-width: 1025px) {
  section.j-o-t h2 {
    font-size: 50px;
  }
  section.j-o-t h2 br {
    display: none;
  }
  section.j-o-t p {
    width: 800px;
    margin: 25px auto;
  }
  section.j-o-t button {
    font-size: 18px;
    border: 1px solid #053B1F;
  }
  section.j-o-t hr {
    display: none;
  }
}

section.how-it-works {
  margin: 50px 0 25px 0;
  position: relative;
}

section.how-it-works section.aside-image {
  display: none;
}

section.how-it-works h2 {
  font-family: Shelby;
  text-align: center;
  color: #053B1F;
  font-weight: 400;
  font-size: 55px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

section.how-it-works .desktop-layout {
  display: none;
}

section.how-it-works .mobile-slider {
  height: 220px;
  margin-bottom: 80px;
}

section.how-it-works .mobile-slider .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

section.how-it-works .mobile-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.how-it-works .mobile-slider .swiper-slide svg {
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}

section.how-it-works .mobile-slider .swiper-slide .first-svg-icon-mobile {
  width: 90px;
  height: 90px;
}

section.how-it-works .mobile-slider .swiper-slide h5 {
  font-family: Monteserrat;
}

section.how-it-works .mobile-slider .swiper-slide P {
  margin: 0 30px;
}

section.how-it-works .mobile-slider .swiper-slide br {
  display: none;
}

@media only screen and (min-width: 600px) {
  section.how-it-works .mobile-slider .swiper-slide br {
    display: block;
  }
}

section.how-it-works .mobile-slider .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #053B1F;
  height: 8px;
  width: 8px;
}

section.how-it-works .mobile-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #053B1F;
}

@media only screen and (max-width: 324px) {
  section.how-it-works .mobile-slider {
    height: 268px;
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 280px) {
  section.how-it-works .mobile-slider {
    height: 298px;
    margin-bottom: 151px;
  }
}

@media only screen and (min-width: 1025px) {
  .font-weight-bold {
    font-weight: 700;
  }
  section.how-it-works {
    margin: 100px 0 25px 0;
  }
  section.how-it-works section.aside-image {
    display: block;
    width: 45%;
    max-width: 650px;
    height: 650px;
    background-image: url("../images/Fashion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    border-radius: 0;
    z-index: -1;
  }
  section.how-it-works .mobile-slider {
    display: none;
  }
  section.how-it-works .desktop-layout {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding-left: 0;
  }
  section.how-it-works .desktop-layout .left-side {
    width: 45%;
    margin: 0 0 50px 0;
  }
  section.how-it-works .desktop-layout .left-side h2 {
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: Shelby, 'Times New Roman', Times, serif;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  section.how-it-works .desktop-layout .left-side .step-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
  section.how-it-works .desktop-layout .left-side .icon-container {
    margin-right: 20px;
  }
  section.how-it-works .desktop-layout .left-side .icon-container svg {
    display: block;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  section.how-it-works .desktop-layout .left-side .text-container {
    float: right;
  }
  section.how-it-works .desktop-layout .left-side .step-container:nth-child(2) .text-container p {
    margin-top: -7px;
  }
  section.how-it-works .desktop-layout .left-side .step-container:nth-child(3) .text-container p {
    margin-top: -12px;
  }
  section.how-it-works .desktop-layout .left-side .step-container:nth-child(4) .text-container p {
    margin-top: -13px;
  }
}

section.find-contact {
  width: 100vw;
  padding: 50px 0;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #053B1F;
}

section.find-contact .desktop-wrapper {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

section.find-contact .desktop-wrapper h3 {
  color: white;
  font-size: 20px;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

section.find-contact .desktop-wrapper a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

section.find-contact .desktop-wrapper .find-drop-off, section.find-contact .desktop-wrapper .contact-shop-repurpose {
  text-align: center;
}

section.find-contact .desktop-wrapper .contact-shop-repurpose p {
  width: 90%;
  margin: auto;
}

section.find-contact .mobile-wrapper {
  display: none;
}

@media only screen and (min-width: 1025px) {
  section.find-contact {
    width: 100vw;
    padding: 50px 0;
    color: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.find-contact .desktop-wrapper {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
  section.find-contact .desktop-wrapper h3 {
    color: white;
    font-size: 20px;
    font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  section.find-contact .desktop-wrapper a {
    color: white;
    text-decoration: underline;
    font-weight: 600;
  }
  section.find-contact .desktop-wrapper .find-drop-off, section.find-contact .desktop-wrapper .contact-shop-repurpose {
    text-align: center;
  }
  section.find-contact .mobile-wrapper {
    display: none;
  }
}

section.social-good {
  background-color: white;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  text-align: center;
  display: none;
}

section.social-good div.text-container {
  width: 100%;
  position: relative;
}

section.social-good div.text-container h2 {
  font-family: Shelby;
  font-size: 40px;
  font-weight: 400;
}

section.social-good div.text-container h3 {
  font-size: 16px;
}

@media only screen and (min-width: 1025px) {
  section.social-good {
    display: none;
  }
}

section.about {
  padding: 50px 0;
  margin: 0 20px;
  text-align: center;
}

section.about .left-side {
  display: none;
}

section.about .right-side {
  width: 100%;
}

section.about .right-side h2 {
  font-family: Shelby;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 400;
}

section.about .right-side h4 {
  color: black;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 5px;
  display: none;
}

section.about .right-side h4 span {
  font-size: 24px;
  margin-left: 15px;
}

section.about .right-side button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 1px solid #053B1F;
  padding: 14px;
  background-color: white;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px #053B1F;
          box-shadow: 2px 2px 2px #053B1F;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  color: inherit;
}

section.about .right-side button a {
  color: inherit;
  text-decoration: none;
}

section.about .right-side button:hover {
  background-color: #053B1F;
  color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (min-width: 1025px) {
  section.about {
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 454px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 90px auto;
    position: relative;
  }
  section.about .left-side {
    display: block;
    width: 50%;
    max-width: 650px;
    height: 641px;
    background-image: url("../images/Priyanka JOT.jpeg");
    background-size: cover;
    position: absolute;
    border-radius: 0;
    z-index: -1;
  }
  section.about .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
    position: absolute;
    left: 53%;
    padding-right: 15px;
  }
  section.about .right-side h2 {
    font-size: 90px;
    font-family: Shelby;
  }
  section.about .right-side h4 {
    display: none;
  }
  section.about .right-side p {
    max-width: 514px;
  }
  section.about .right-side button {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

section.make-a-difference {
  position: relative;
  display: none;
}

section.make-a-difference div.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  right: 0;
}

section.make-a-difference div.container .are-you-ready-text-2 {
  display: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section.make-a-difference div.container .are-you-ready-text-2-mobile {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 45px;
  margin-bottom: 20px;
}

section.make-a-difference div.container h2 {
  font-family: Shelby;
  color: #DDCDB6;
  text-align: center;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: 400;
  display: none;
}

section.make-a-difference div.container h3 {
  color: white;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}

section.make-a-difference div.container button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: none;
  padding: 10px;
  background-color: white;
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px #ddcdb6;
          box-shadow: 2px 2px 2px #ddcdb6;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  color: inherit;
  border: 1px solid #053B1F;
}

section.make-a-difference div.container button a {
  color: inherit;
  text-decoration: none;
}

section.make-a-difference div.container button:hover {
  background-color: #053B1F;
  color: white;
  border: 1px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (min-width: 900px) {
  section.make-a-difference {
    height: 170.9px;
  }
  section.make-a-difference div.container {
    width: 100%;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  section.make-a-difference div.container .are-you-ready-text-2 {
    display: none;
    font-size: 67px;
    width: unset;
    margin: auto;
    margin-top: 44px;
    margin-bottom: 20px;
  }
  section.make-a-difference div.container .are-you-ready-text-2-mobile {
    display: none;
  }
  section.make-a-difference div.container h2 {
    position: static;
    text-align: center;
    font-size: 90px;
    margin-bottom: -14px;
    margin-left: -384px;
    display: none;
  }
  section.make-a-difference div.container h3 {
    position: static;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 67px;
    display: none;
  }
  section.make-a-difference div.container button {
    position: static;
    text-align: center;
    font-size: 24px;
    -webkit-box-shadow: 2px 2px 2px #053B1F;
            box-shadow: 2px 2px 2px #053B1F;
  }
}

@media only screen and (min-width: 1025px) {
  section.make-a-difference {
    display: none;
  }
}

footer {
  padding: 10px 20px;
  background-color: #053B1F;
}

footer div.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer div.footer-container .logo-container {
  width: 150px;
}

footer div.footer-container .logo-container img {
  width: 100%;
}

footer div.footer-container .contact-info ul {
  list-style-type: none;
}

footer div.footer-container .contact-info ul li {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

footer div.footer-container .contact-info ul li:hover {
  opacity: .5;
}

footer div.footer-container .contact-info ul li a {
  color: white;
}

footer div.footer-container .contact-info ul li a h4 {
  color: white;
}

footer div.footer-container .contact-info li {
  margin: 5px 0;
}

footer div.footer-container .contact-info a {
  text-decoration: none;
  color: black;
}

footer div.footer-container .contact-info a h4 {
  font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  color: black;
}

footer div.footer-container hr {
  border-top: 1px solid black;
  width: 84%;
  margin-top: 20px;
}

footer div.footer-container .social-media h4 {
  display: none;
}

footer div.footer-container .social-media .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.footer-container .social-media .icon-container .social-icon {
  width: 60px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

footer div.footer-container .social-media .icon-container .social-icon:hover {
  opacity: .5;
}

footer div.footer-container .social-media .icon-container .social-icon img {
  width: 100%;
}

footer div.footer-container .social-media .icon-container .social-icon:nth-child(4) a img {
  height: 27px;
}

@media only screen and (min-width: 1025px) {
  footer div.footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  footer div.footer-container div.logo-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 190px;
  }
  footer div.footer-container div.contact-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer div.footer-container div.contact-info ul li {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  footer div.footer-container div.contact-info ul li:hover {
    opacity: .5;
  }
  footer div.footer-container div.contact-info ul li a {
    color: white;
  }
  footer div.footer-container div.contact-info ul li a h4 {
    color: white;
  }
  footer div.footer-container div.contact-info ul li:nth-child(2), footer div.footer-container div.contact-info ul li:nth-child(3) {
    line-height: 30px;
  }
  footer div.footer-container hr {
    display: none;
  }
  footer div.footer-container div.social-media {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-top: none;
  }
  footer div.footer-container div.social-media h4 {
    display: block;
    color: white;
    font-family: 'Monteserrat', Arial, Helvetica, sans-serif;
  }
}
/*# sourceMappingURL=styles.css.map */