    <header>
        <div class="left-break"></div>
        <a href="{{ shop.url }}">
        <img src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/images/LOGOGOOS-05-transformed.png" alt="Shop Repurpose">
        </a>
        <div class="right-break"></div>
    </header>


    <section class="j-o-t">
        <h2>Just One Thing. <br> That's All It Takes.</h2>
        <p>
            Help spread the word! Giving your clothes a second 
            life means giving someone a better life. Every item donated to us goes to supporting
            the health
            and wellbeing of women and families.
        </p>
        
    </section>

 
    <section class="video-container">
        <iframe  
            src="https://www.youtube.com/embed/NmfyOf7qW4g?&autoplay=1&mute=1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </section>

    <section class="j-o-t-button-section">
        <hr class="line">
        <button id="j-o-t-button">
            <a href="https://shoprepurpose.org/pages/what-we-do">
                Learn More
            </a>
        </button>
        <hr class="line">
    </section>

    <section class="how-it-works">
        <div class="mobile-slider">
            <h2>How it Works</h2>
            <div class="swiper mobile-carousel">
                <div class="swiper-wrapper">
                <div class="swiper-slide" data-hash="slide1">
                    <img src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON1.png" alt="Shop Icon">
                    <p><b>1. Choose Your Just One Thing(s)</b> <br>We would welcome multiple items!</p>
                </div>
                <div class="swiper-slide" data-hash="slide2">
                    <img src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON2.png" alt="Phone Icon">
                    <p><b>2.</b> Post a photo of you wearing it to us <br> OR post it and tag us: <b>@SHOPREPURPOSE</b></p>
                </div>
                    <div class="swiper-slide" data-hash="slide3">
                        <img class="third-icon" src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON3.png" alt="Drop Box Icon">
                        <p><b>3. Drop at a Donation Station or contact us for pickup:</b>
                            <br>
                            We will send a donor receipt for tax purposes.</p>
                </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="desktop-layout">
            <div class="left-side">
                <h2 id="how-it-works">How it Works</h2>
                <div class="step-container">
                    <div class="icon-container" id="desktop-layout-icon-container">
                        <img src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON1.png" alt="Shop Icon">
                    </div>
                    <div class="text-container">
                        <p><b>1. Choose Your Just One Thing(s)</b> <br>We would welcome multiple items!</p>
                    </div>
                </div>
                <div class="step-container">
                    <div class="icon-container" id="desktop-layout-icon-container">
                        <img src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON2.png" alt="Phone Icon">
                    </div>
                    <div class="text-container">
                        <p><b>2.</b> Send a photo of you wearing the item OR 
                            post the picture and tag us: <b>@SHOPREPURPOSE</b></p>
                    </div>
                </div>
                <div class="step-container">
                    <div class="icon-container" id="desktop-layout-icon-container">
                        <img class="third-icon" src="https://moralessa.github.io/Shop-Repurpose-Landing-Page/icons/ICON3.png" alt="Drop Icon">    
                    </div>
                    <div class="text-container">
                        <p><b>3. Drop at a Donation Station or contact us for pickup:</b>
                            We will send a donor receipt for tax purposes.</p>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <section class="aside-image"></section>
            </div>
        </div>
    </section>

    <section class="find-contact">
        <div class="mobile-wrapper">
            <div class="find-drop-off">
                <h3>Find Drop Off Stations</h3>
                <p><a  href="https://shoprepurpose.org/pages/donate-clothing-1">Click here</a> to find a drop off location near you!</p>
            </div>
            <div class="contact-shop-repurpose">
                <h3>Contact Shop Repurpose</h3>
                <p>No drop off station near you? <br> <a href="https://shoprepurpose.org/pages/contact-us">Contact us</a> to schedule a pick up.</p>
            </div>
        </div>
        
        <div class="desktop-wrapper">
            <div class="find-drop-off">
                <h3>Find Drop Off Stations</h3>
                <p><a  href="https://shoprepurpose.org/pages/donate-clothing-1">Click here</a> to find a drop off location near you!</p>
            </div>
            <div class="contact-shop-repurpose">
                <h3>Contact Shop Repurpose</h3>
                <p>No drop off station near you? <br> <a href="https://shoprepurpose.org/pages/contact-us">Contact us</a> to schedule a pick up.</p>
            </div>
        </div>
    </section>
        

    <section class="social-good">
        <div class="text-container">
            <h3 class="mobile-alignment" id="social-good-text">Social Good Has Never Looked So Good</h3>
            <h2 id="social-good-text">#JustOneThing</h2>
        </div>
    </section>

    <section class="about">
        <div class="left-side"></div>
        <div class="right-side">
            <h2>About Shop Repurpose</h2>
            <p class="who-are-we"><b>Shop Repurpose is a nonprofit organization</b>
                that brings together
                individuals, brands and organizations to empower women in need.
            </p>
            <br>
            <p class="our-belief">We believe fashion can be a business that
                <b>helps to provide individuals with a clear
                    path to economic independence. </b>
            </p>
            <br>
            <h4>Our Grant Recipients Include</h4>
            <br>
            <button>
                <a href="https://shoprepurpose.org/pages/what-we-do">
                    Learn More
                </a>
            </button>
        </div>
    </section>

    <section class="make-a-difference" id="make-a-difference-section">
        <div class="container">
            <h2 class="are-you-ready-text-2" id="are-you-ready-text-2">Are You Ready to Make a Difference?</h2>
            <h2 class="are-you-ready-text-2-mobile" id="are-you-ready-text-2">Are You Ready<br>to Make a Difference?</h2>
            <h2 id="are-you-ready-text">Are you Ready</h2>
            <h3 id="make-a-difference-text">To Make a Difference?</h3>
            <button id="footer-cta-button">
                <a href="https://shoprepurpose.org/">
                Just one thing. See what it can do.
                </a>
            </button>
        </div>
    </section>

    <footer>

        <div class="footer-container">
            <div class="logo-container">
                <img class="filter-white" src="./images/LOGOGOOS-05-transformed.png" alt="Shop Repurpose">
            </div>
            <div class="contact-info">
                <ul>
                    <li>
                        <a href="https://shoprepurpose.org/pages/contact-us">
                            <h4>
                                433 Broadway
                                <br>
                                New York, NY 10013
                            </h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://shoprepurpose.org/pages/contact-us">
                            e-info@shoprepurpose.org
                        </a>
                    </li>
                    <li>
                        <a href="https://shoprepurpose.org/pages/contact-us">
                            516-986-7767
                        </a>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="social-media">
                <h4>Connect With Us</h4>
                <div class="icon-container">
                    <div class="social-icon">
                        <a target="_blank" href="https://www.facebook.com/shoprepurpose">
                            <img class="filter-white" src="./icons/Facebook.svg" alt="Facebook Icon">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a target="_blank" href="https://www.instagram.com/shoprepurpose/">
                            <img class="filter-white" src="./icons/Instagram.svg" alt="Instagram Icon">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a target="_blank" href="https://www.linkedin.com/company/72558068/admin/">
                            <img class="filter-white" src="./icons/LinkedIn.svg" alt="LinkedIn Icon">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a target="_blank" href="https://www.pinterest.com/shoprepurpose/">
                            <img class="filter-white" src="./icons/icons8-pinterest.svg" alt="Pintrest Icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="./js/initialize-swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<!--Gsap animation scrolltrigger plugger-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="./js/animation.js"></script>
=