/* Core Styles -------------------------------------------------------------- */
body{
	font-family: var(--body-font-stack);
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, .custom-font{
	font-family: var(--header-font-stack);
}


/* Main Styles -------------------------------------------------------------- */

#shopify-section-template--password {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.password--wrapper {
  display: flex;
  flex-direction: column;
	overflow: scroll;
  align-items: center;
  width: 100%;
}

.prevent-scroll {
	height: 100vh;
	overflow: hidden;
}

.password--main-container {
  flex-grow: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 60%;
}

.password--main{
  padding: 30px;
  text-align: center;
	box-shadow: 0px 13px 14px -18px #323232;
  margin-top: 40px;
  margin-bottom: 40px;
}

.password--logo{
	margin-bottom: 20px;
}

.password--logo img{
  max-width: 100%;
}

.password--welcome-message h1 {
	margin-top: 0;
}

.password--site-owner-options a:hover {
  text-decoration: none;
}


/* Background image --------------------------------------------------------- */

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Social Icons ------------------------------------------------------------- */

#sm-icons {
	padding: 0;
	margin-top: 30px;
	padding: 0;
	margin-top: 30px;
}

#sm-icons li {
	display: inline-block;
	list-style-type: none;
	transition: opacity .15s ease-in-out 0s;
}

#sm-icons li a {
	display: inline-block;
	padding: 13px 18px;
}

#sm-icons li:hover {
	opacity: 0.7;
}

#sm-icons i {
  font-size: 15px;
}

#sm-icons svg { /* tiktok */
	width: 11px;
	margin-bottom: -1px;
	margin-left: -3px;
}

/* Password Section --------------------------------------------------------- */

.password--input{
	padding: 10px;
}

.password--store-owner-links{
	font-size: 13px;
	margin: 30px 0 0;
}

.password--store-owner-links a:hover {
	text-decoration: none;
}

.btn-default{
	padding: 10px;
	color: var(--body-secondary-background);
	background: var(--body-text-color);
	border: none;
}

.input-group{
	margin-top: 20px;
}

.input-group > * {
  margin-bottom: 10px;
}

input#password {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: var(--body-font-stack);
  -webkit-appearance: none;
  border-radius: 0;
}

input#email {
	background: none;
	font-family: var(--body-font-stack);
  -webkit-appearance: none;
  border-radius: 0;
}

input.btn {
	padding: 10px 35px;
	font-family: var(--body-font-stack);
	transition: opacity .15s ease-in-out 0s;
  -webkit-appearance: none;
  border-radius: 0;
}

input.btn:hover {
	opacity: 0.7;
	cursor: pointer;
}

.password--close{
	position: absolute;
	right: 10px;
	top: 10px;
}

.password--close img{
	width: 30px;
}

/* Modal - enter with password ----------------------------------------- */

.site-header {
  position: absolute;
  text-align: center;
  top: 0;
	bottom: 0;
  width: 100%;
  z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-header div.site-header--inner{
	padding: 40px;
}

.password--close {
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* ensure it's above other content */
  border: none;
  background: none;
}

.password--close:before,
.password--close:after {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  content: '';
  height: 26px;
  width: 2px;
}

.password--close:before {
  transform: rotate(45deg);
}

.password--close:after {
  transform: rotate(-45deg);
}


.password--close:hover:before,
.password--close:focus:before {
  transform: rotate(135deg);
}

.password--close:hover:after,
.password--close:focus:after {
  transform: rotate(-135deg);
}


.password-modal--open {
	height: 100vh;
  overflow-y: hidden!important;
}

/* Footer ------------------------------------------------------------------- */

footer {
	width: 95%;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.powered a {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
	padding-left: 21px;
	text-decoration: underline;
}

.powered a:hover {
	text-decoration: none;
}

/* Errors  ------------------------------------------------------------------ */

.errors {
	background: var(--error-background-color);
	padding: 4px 5px;
	font-size: 15px;
	color: var(--error-font-color);
	display: inline-block;
	margin-bottom: 25px;
}

.errors ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.errors {
    background: #feefef;
    color: #a70101;
    padding: 10px 20px;
    border: 1px solid #a70101;
}

.errors + .form-group {
    border: 1px solid #a70101;
    background: #feefef;
		color: #a70101;
		padding: 15px;
}

.errors + .form-group input#email {
	color: #a70101;
}

/* Mobile/Tablet  ----------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  #shopify-section-template--password {
    height: auto;
    display: block;
    width: 100vw;
  }

  .password--wrapper{
		width: 100%;
		height: auto;
	}

	.password--main-container {
    width: 80%;
  }

	input#email {
    margin-bottom: 20px;
	}

	footer {
		display: block;
		text-align: center;
	}

	.powered {
    margin-bottom: 20px;
	}
}
